python-Levenshtein==0.21.1
fuzzywuzzy==0.18.0
fake-useragent==1.2.1
redis==5.0.0
aiogram==3.0.0rc1
aiogram-dialog==2.0.0b21
numpy==1.22.0
matplotlib
bs4
aiosqlite
scipy
aiofile
APScheduler
pytz
Pillow
aiohttp
psutil
psycopg2-binary
pyqiwip2p
aiocryptopay
captcha
texttable
pyrogram
tgcrypto
aiopayok
pymorphy2
